{% extends 'base.html' %}

{% load static %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block title %}
  {{ task_title }}
{% endblock %}

{% block sidebar %}
<!--{% include 'inc/_sidebar.html' %}-->
{% endblock %}

{% block content %}
<div class="container-fluid ">
    <div class="row">
    <div class="col-md-9">
    {% for item in tasks %}
        <a href="{% url 'home_details' item.pk %}">
        <div class="card-body rounded text">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="" id="checkens">
            {{item.title}}
          </div>
        </div>
        </a>
    {% endfor %}
    </div>
    <div class="col rightbar rounded">
    </div>
</div>

{% endblock %}


