{% extends 'base.html' %}
{% load crispy_forms_tags %}
<head>
{% load static %} <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block title %}
  {{ cat_title }}
{% endblock %}
</head>
<body>
{% block sidebar %}
<div id="sidebar">
{% include 'inc/_sidebar.html' %}
</div>

{% endblock %}


{% block content %}
<div class="create-task">
    <form id="myForm" action="" name="task_form" method="post">
    {% csrf_token %}
    <div class="control-group">
        {{ form.title }}
    </div>

    <div class="form-group">
    <input type="hidden" id="category" name="category" value="{{ category_id }}">
    <input type="hidden" id="content" name="content" value=" ">
    </div>
    </form>

<script>
                   let task_form = document.getElementById('myForm');
                   $(task_form).submit(function(e) {
                        console.log("СКРИПТ ДЛЯ ИНПУТ 1")
                        $.ajax({
                          data: $(this).serialize(),
                          type: $(this).attr('method'),
                          url: "{% url 'create_task' category_id %}",
                          success: function (json) {
                            document.getElementById("myForm").reset();
                            $("#tasks").prepend(
                             '<a class="a_'+json.new_task_id+'" href="/'+json.category_id+'/'+json.new_task_id+'/details">' +
                                '<div class="card-body rounded text">' +
                                   '<div class="form-check">' +
                                      '<input class="form-check-input" type="checkbox" name="'+json.new_task_id+'">' +
                                       json.title +
                                    '</div>' +
                                '</div>' +
                             '</a>'
                            )
                            },


                          error: function (response) {

                              alert(response.responseJSON.errors);
                              console.log(response.responseJSON.errors)
                          }
                      });
                      return false;
              })
        </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</div>


<div id="container">
    <div id="tasks">
    {% for item in tasks %}
        {% if item.is_done == 0 %}
            <a class="a_{{item.pk}}" href="{% url 'view_tasks' item.category.id item.pk %}">
            <div class="card-body rounded text">
            <form action="" method="post">
                {% csrf_token %}
              <div class="form-check">
                    <input class="form-check-input checked no-border" type="checkbox" name="{{ item.pk }}">
                    {{item.title}}
              </div>
            </form>
            </div>
            </a>
        {% else %}
           <a class="a_{{item.pk}}" href="{% url 'view_tasks' item.category.id item.pk %}">
            <div class="card-body rounded text done-task">
            <form  action="" method="post">
                {% csrf_token %}
              <div class="form-check">
                    <input class="form-check-input checked no-border" type="checkbox" name="{{ item.pk }}"
                           checked>
                    <s>{{item.title}}</s>
              </div>
            </form>
            </div>
            </a>
        {% endif %}

    {% endfor %}
    <script>
    $(function() {
        $(document).on('click', '.form-check-input', function(e) {
        console.log("СКРИПТ ДЛЯ ЧЕКБОКСОВ")
        e.preventDefault();


         var task_id = $(this).attr('name');
         var status = $(this).prop('checked');
         $.ajax({
                type: 'POST',
                url: "{% url 'change_checkbox' %}",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': task_id,
                    'is_done': status,
                },
                    success: function (json) {

                        if (status == true) {

                    $(".a_"+task_id).detach();
                    $("#done").prepend(
                     '<a class="a_'+json.new_task_id+'" href="/'+json.category_id+'/'+task_id+'/details">' +
                        '<div class="card-body rounded text done-task">' +
                           '<div class="form-check">' +
                              '<input class="form-check-input" type="checkbox" name="'+json.new_task_id+'" checked>' +
                               '<s>' + json.title + '</s>' +
                            '</div>' +
                        '</div>' +
                     '</a>'
                     );
                        }
                        else if (status == false) {

                            $(".a_"+task_id).detach();
                            $("#tasks").prepend(
                             '<a class="a_'+json.new_task_id+'" href="/'+json.category_id+'/'+task_id+'/details">' +
                                '<div class="card-body rounded text">' +
                                   '<div class="form-check">' +
                                      '<input class="form-check-input" type="checkbox" name="'+json.new_task_id+'">' +
                                       json.title +
                                    '</div>' +
                                '</div>' +
                             '</a>'
                             );
                        };
                    },
            });

         });
    });
    </script>
    </div>
    <div id="done">
    </div>
</div>



{% endblock %}


</body>